body{
    background-color: #262626;
}


#navbar_brand{
    color: #3FB122;
    font-size: 36px;
    font-weight: bold;
    margin-left: 25px;
}

#navbar_btn2{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.navbar{
    background-color: #212121;
    border-color: #1c1c1c;
}

#photo_block{
    float:left;
    overflow:hidden;
    width: 279px;
    height: 310px;
}

#profile_photo{
    height: 310px;
    border-radius: 30px;
}

#profile_bio{
    margin-top: 40px;
}

#text{
    margin-left: 20px;
    font-weight: bold;
    font-size: 36px;
    color: white;
}



.earnButton{
    border-radius: 40px;
    padding: 10px;
    color: white;
}

.earnButton{
    background-color: #3EAA3C;
    border: #3EAA3C;
    margin-left: 7px;
}
