body{
    background-color: #262626;
}

#from_block{
    padding: 50px;
    color: #3EAA3C;
    background: #333333;
    border-radius: 30px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
}

#button{
    background-color: #3EAA3C;
    border-color: #3EAA3C;
}
