body{
    background-color: #262626;
}

#main_money{
    width: 531px;
    height: 438px;
    margin-left:  50px;
    margin-right: auto;
}

#description{
    font-weight: bold;
    font-size: 36px;
    color: white;
}

#title{
    font-weight: bold;
    font-size: 96px;
    color: white;
}

#navbar_brand{
    color: #3FB122;
    font-size: 36px;
    font-weight: bold;
    margin-left: 25px;
}

#navbar_btn1, #navbar_btn2{
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 16px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.navbar{
    background-color: #212121;
    border-color: #1c1c1c;
}

#main_con{
    margin-top: 110px;
    margin-bottom: 50px;
}

#start_earn{
    font-size: 42px;
    font-weight: bold;
    border-radius: 71px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

#top_millionaire_block{
    background-color: #2C2C2C;
    margin-bottom: 100px;
}

#money2_img{
    width: 700px;
    height: 500px;
}

#top_users {
    color: white;
    text-align: center;
    background-color: #434343;
    border-radius: 17px;
    margin: 30px;

}

#top_title {
    font-weight: bold;
    color: #3EAA3C;
    font-size: 64px;
}

#top_list {
    font-weight: bold;
    color: white;
    font-size: 36px;
    line-height: 243.9%;
}
