<#ftl encoding="UTF-8"/>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Millionaire</title>
</head>

<body>
    <p>Hello! It is "Millionaire"</p>
    <p>Please SignIn or SignUp</p>
    <button><a href="/login">SignIn</a></button>
    <button><a href="/register">SignUp</a></button>
</body>

</html>
